{% extends "base.html" %}
{% block content %}


 <div class="container">
    <div class="row">
        <div class="col">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Top Artists</h4>
                    <form action="/go_top_artist" method="POST">
                        <input type="submit" class="btn btn-primary" name="submit_artist" value="Top Lockdown artists">
                        <p class="card-text">Your top artists getting you through lockdown!</p>
                        <br>
                        <input type="submit" class="btn btn-primary" name="submit_artist" value="Top Artists (6 months)">
                        <p class="card-text">Get your top artists for the last 6 months.</p>
                        <br>
                        <input type="submit" class="btn btn-primary" name="submit_artist" value="Top Artists (All time)">
                        <p class="card-text">Get your top artists of all time.</p>
                        <br>
                    </form>
                </div>
            </div>
         </div>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Top Songs</h4>
                    <form action="/go_top_track" method="POST">
                        <input type="submit" class="btn btn-primary" name="submit_tracks" value="Top Lockdown tracks">
                        <p class="card-text">Your top tracks getting you through lockdown!</p>
                        <br>
                        <input type="submit" class="btn btn-primary" name="submit_tracks" value="Top Tracks (6 months)">
                        <p class="card-text">Get your top tracks for the last 6 months.</p>
                        <br>
                        <input type="submit" class="btn btn-primary" name="submit_tracks" value="Top Tracks (All time)">
                        <p class="card-text">Get your top tracks of all time.</p>
                        <br>
                    </form>
                </div>
            </div>
    </div>
 </div>

{% endblock %}