{% extends "base.html" %}
{% block content %}
 <div class="container">
    <form action="/go" method="get">
        <div class="row">
            <div class="col text-center">
                <button id="login-spotify" class="btn btn-primary btn-lg text-center">
                        <img src="/static/assets/spotify-logo.png" width="32" height="32">
                        <div class="ml-4 text-center">Login with Spotify</div>
                    </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}
